In [1]:
import pandas as pd

### Импортируйте библиотеку pandas как pd. Загрузите датасет bookings.csv с разделителем ;. Проверьте размер таблицы, типы переменных, а затем выведите первые 7 строк, чтобы посмотреть на данные.

In [6]:
bookings = pd.read_csv('https://stepik.org/media/attachments/lesson/360344/bookings.csv', sep=';')
bookings_head = bookings.head(7)

In [7]:
bookings.shape

(119390, 21)

In [25]:
bookings.dtypes

hotel                         object
is_canceled                    int64
lead_time                      int64
arrival_full_date             object
arrival_date_year              int64
arrival_date_month            object
arrival_date_week_number       int64
arrival_date_day_of_month      int64
stays_in_weekend_nights        int64
stays_in_week_nights           int64
stays_total_nights             int64
adults                         int64
children                     float64
babies                         int64
meal                          object
country                       object
reserved_room_type            object
assigned_room_type            object
customer_type                 object
reservation_status            object
reservation_status_date       object
dtype: object

### Приведите названия колонок к нижнему регистру и замените пробелы на знак нижнего подчеркивания.

In [10]:
bookings.columns

Index(['Hotel', 'Is Canceled', 'Lead Time', 'arrival full date',
       'Arrival Date Year', 'Arrival Date Month', 'Arrival Date Week Number',
       'Arrival Date Day of Month', 'Stays in Weekend nights',
       'Stays in week nights', 'stays total nights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'Reserved Room Type', 'Assigned room type',
       'customer type', 'Reservation Status', 'Reservation status_date'],
      dtype='object')

In [11]:
def clean_col(name):
    return (
        name.lower().replace(' ', '_')
    )

In [19]:
bookings = bookings.rename(columns=clean_col)

In [79]:
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,total_kids
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02,0.0
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02,0.0
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03,0.0

### Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5.

In [30]:
bookings.query('is_canceled == 0') \
        .groupby('country') \
        .agg({'is_canceled' : 'count'}) \
        .sort_values('is_canceled', ascending=False) \
        .rename(columns={'is_canceled' : 'bookings'})

         bookings
country
PRT         21071
GBR          9676
FRA          8481
ESP          6391
DEU          6069
...           ...
SMR             1
MLI             1
SLE             1
MAC             1
PLW             1

[165 rows x 1 columns]

### На сколько ночей в среднем бронируют отели разных типов?

In [39]:
bookings.groupby('hotel').agg({'stays_total_nights' : 'mean'}).round(2)

              stays_total_nights
hotel
City Hotel                  2.98
Resort Hotel                4.32

### Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?

In [45]:
bookings.query('assigned_room_type != reserved_room_type').shape[0]

14917

In [46]:
bookings

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

### Проанализируйте даты запланированного прибытия. На какой месяц чаще всего успешно оформляли бронь в 2016? Изменился ли самый популярный месяц в 2017? Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel отменялись чаще всего в каждый из периодов.

In [80]:
bookings.groupby(['arrival_date_year', 'arrival_date_month' ]) \
        .agg({'is_canceled' : 'count'}) \
        .sort_values(['arrival_date_year','is_canceled'], ascending=False)

                                      is_canceled
arrival_date_year arrival_date_month
2017              May                        6313
                  April                      5661
                  June                       5647
                  July                       5313
                  March                      4970
                  August                     4925
                  February                   4177
                  January                    3681
2016              October                    6203
                  May                        5478
                  April                      5428
                  September                  5394
                  June                       5292
                  August                     5063
                  March                      4824
                  July                       4572
                  November                   4454
                  February                   3891
                  December                   3860
                  January                    2248
2015              September                  5114
                  October                    4957
                  August                     3889
                  December                   2920
                  July                       2776
                  November                   2340

In [56]:
bookings.query('is_canceled == 1' and "hotel == 'City Hotel'") \
        .groupby(['arrival_date_year', 'arrival_date_month']) \
        .agg({'is_canceled' : 'count'}) \
        .sort_values(['arrival_date_year','is_canceled'], ascending=False)

                                      is_canceled
arrival_date_year arrival_date_month
2017              May                        4556
                  June                       3971
                  April                      3919
                  July                       3559
                  March                      3412
                  August                     3125
                  February                   2594
                  January                    2372
2016              October                    4219
                  June                       3923
                  September                  3871
                  May                        3676
                  April                      3561
                  August                     3378
                  July                       3131
                  November                   3122
                  March                      3046
                  December                   2478
                  February                   2371
                  January                    1364
2015              September                  3529
                  October                    3386
                  August                     2480
                  December                   1654
                  July                       1398
                  November                   1235

### Посмотрите на числовые характеристики трёх переменных: adults, children и babies. Какая из них имеет наибольшее среднее значение?

In [67]:
bookings[['adults', 'children', 'babies']].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

### Создайте колонку total_kids, объединив children и babies. Отели какого типа в среднем пользуются большей популярностью у клиентов с детьми?

In [74]:
bookings['total_kids'] = bookings.children + bookings.babies
bookings.groupby('hotel') \
        .agg({'total_kids' : 'mean'}).round(2)

              total_kids
hotel
City Hotel          0.10
Resort Hotel        0.14

### Не все бронирования завершились успешно (is_canceled), поэтому можно посчитать, сколько клиентов было потеряно в процессе. Churn rate (отток, коэффициент оттока) – это процент подписчиков (например, на push-уведомления от сайта), которые отписались от канала коммуникации, отказались от услуг сервиса в течение определенного периода времени. Иными словами, представляет собой отношение количества ушедших пользователей к общему количеству пользователей, выраженное в процентах. Далее проверьте, среди какой группы пользователей показатель оттока выше - среди пользователей с детьми или без. В качестве ответа укажите наибольший %, округленный до 2 знаков после точки (то есть доля 0.24563 будет 24.56% и в ответ пойдёт 24.56)

In [78]:
round(bookings.query('total_kids == 0.0 and is_canceled == 1').shape[0] / bookings.query('total_kids == 0.0').shape[0] * 100,2)

37.22

In [77]:
round(bookings.query('total_kids > 0 and is_canceled == 1').shape[0] / bookings.query('total_kids > 0.0').shape[0] * 100,2)

34.92